<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Favorites</title>
</head>
<body>
    <div class="Navigation">
        <div class="logo">
            <a href="/home/"><img src="/static/SSH2.png" class="logoImg"></a>
        </div>
        <div>
            <ul class="pageLinks">
                <li><a href="/home/"><p>Home</p></a></li>
                <li><a href="/favorites/"><p>Favorites</p></a></li>
                <li><a href="/viewed/"><p>Viewed</p></a></li>
                <li><a href="/profile/"><p>Profile</p></a></li>
            </ul>
        </div>
    </div>
</body>
</html>