<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d8283239b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="Navigation">
        <div class="logo">
            <a href="/home/"><img src="/static/SSH2.png" class="logoImg"></a>
        </div>
        <div>
            <ul class="pageLinks">
                <li class="active"><a href="/home/"><i class="fa-solid fa-house-chimney"></i><p>Home</p></a></li>
                <li><a href="/favorites/"><i class="fa-solid fa-heart"></i><p>Favorites</p></a></li>
                <li><a href="/viewed/"><i class="fa-solid fa-square-check"></i><p>Viewed</p></a></li>
                <li><a href="/profile/"><i class="fa-solid fa-user"></i><p>Profile</p></a></li>
            </ul>
        </div>
    </div>
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search...">
        <button class="search-button"><i class="fa-solid fa-search"></i></button>
    </div>
</body>
</html>