<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d8283239b9.js" crossorigin="anonymous"></script>
    <script type="module" src="../static/tabs.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>
<body>
    <div class="Navigation">
        <div class="logo">
            <a href="/home/"><img src="/static/SSH2.png" class="logoImg"></a>
        </div>
        <div>
            <ul class="pageLinks">
                <li class="active"><a href="/home/"><i class="fa-solid fa-house-chimney"></i><p>Home</p></a></li>
                <li><a href="/favorites/"><i class="fa-solid fa-heart"></i><p>Favorites</p></a></li>
                <li><a href="/viewed/"><i class="fa-solid fa-square-check"></i><p>Viewed</p></a></li>
                <li><a href="/profile/"><i class="fa-solid fa-user"></i><p>Profile</p></a></li>
                {% if current_user.isAdmin %}
                    <li><a href="/admin/"><i class="fa-solid fa-user"></i><p>Admin</p></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    
    <div class="search-container">
        <form method="post" class="search-form">
            {{ form.hidden_tag() }}
            {{ form.searchTerm(class="search-bar", placeholder="Search...") }}
            <button type="submit" class="search-button"><i class="fa-solid fa-search"></i></button>
        </form>
    </div>
    
    {% if movie_results or book_results %}
        <h2 class="results-heading">Search Results</h2>

        <div class="tabs">
            <button class="tab-button active" data-tab="movies">Movies</button>
            <button class="tab-button" data-tab="books">Books</button>
        </div>

        <view-container id="movies" class="grid-view tab-content active">
            {% if movie_results %}
            {% for movie in movie_results %}
                <div class="item">
                    <h3 class="item-title">{{ movie.title }}</h3>
                </div>
            {% endfor %}
            {% else %}
            <h1>Sorry, no movies for that search term.</h1>
            {% endif %}
        </view-container>
        
        <view-container id="books" class="grid-view tab-content">
            {% if book_results %}
            {% for book in book_results %}
                <div class="item">
                    <h3 class="item-title">{{ book.title }}</h3>
                    <p class="item-description">Author: {{ book.author }}</p>
                </div>
            {% endfor %}
            {% else %}
            <h1>Sorry, no books for that search term</h1>
            {% endif %}
        </view-container>
    {% endif %}
</body>
</html>

