<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
    
    <div class="form">

        <div class="login-box">

            <div class="login-header">Login</div>
        <br>
            <div id="Username">
                <div>{{ form.username.label }}</div>
                <div>{{ form.username() }}</div>
            </div>
        <br>
            <div id="Password">
                <div>{{ form.password.label }}</div>
                <div>{{ form.password() }}</div>
            </div>
        <br>
            <div id="Submit">
                <div>{{ form.submit() }}</div>
            </div>

            <div style="display: inline-block;">
                <p style="display: inline-block;">Dont have an account? </p>
                <a href="/register/"title="Click to create account" style="display: inline-block;">Sign up</a>
            </div>

        </div>

    </div>
      </form>
</body>
</html>