<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Login</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
    
    <div class="form">
        <div id="Email">
            <div id="label">{{ form.email.label }}</div>
            {{ form.email() }}
        </div>
        <br>


        <div id="Username">
            <div>{{ form.username.label }}</div>
            {{ form.username() }}
        </div>
        <br>


        <div id="Password">
            <div>{{ form.password.label }}</div>
            {{ form.password() }}
        </div>
        <br>


        <div id="Submit">
            {{ form.submit() }}
        </div>

    </div>
      </form>
</body>
</html>