<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Register</title>
</head>
<body>
    <form method="POST">
        {{ form.hidden_tag() }}
    
    <div class="form">

        <div class="login-box">

            <div class="login-header">Register</div>

            <div id="Username">
              <div>{{ form.username.label }}</div>
              <div>{{ form.username() }}</div>
          </div>
        <br>
            <div id="Password">
                <div>{{ form.password.label }}</div>
                <div>{{ form.password() }}</div>
            </div>
        <br>
            <div id="confirmPassword">
                <div>{{ form.confirmPassword.label }}</div>
                <div>{{ form.confirmPassword() }}</div>
            </div>
        <br>
            <div id="age">
                <div>{{form.age.label}}</div>
                <div>{{form.age()}}</div>
            </div>
        <br>
            <div id="Submit">
                <div>{{ form.submit() }}</div>
            </div>

        </div>

    </div>
      </form>
</body>
</html>